.mainpage {
    .mainpage__grid {
        margin-top: 25px;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        justify-items: center;
        gap: 20px;
    }

    padding-bottom: 45px;
}